[Desktop Entry]
Encoding=UTF-8
Name=Link to http://www.discoverymedicine.com/Marianne-Berg/files/2012/09/discovery_medicine_no_76_marianne_berg_figure_1.png
Type=Link
URL=http://www.discoverymedicine.com/Marianne-Berg/files/2012/09/discovery_medicine_no_76_marianne_berg_figure_1.png
Icon=image-png
Name[en_US]=egfr_signaling.png
